.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

textarea {
  width: 90%;       /* Take up the full width of its container */
  min-height: 150px; /* Set a minimum height so it's always reasonably tall */
  padding: 30px;     /* Provide some internal spacing for comfort */
  resize: vertical;  /* Allow users to resize the textarea vertically if they wish */
  box-sizing: border-box; /* Ensures padding and borders don't increase its total size */
}

/* Mobile devices */
@media (max-width: 768px) {
  textarea {
    font-size: 1.2rem;
  }
}

/* Tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
  textarea {
    font-size: 1.4rem;
  }
}

/* Desktop and larger */
@media (min-width: 1025px) {
  textarea {
    font-size: 1.5rem;
  }
}

textarea:focus {
  outline: none;               /* Remove the default browser outline */
  border-color: #C60C30;      /* Use a distinct border color, you can choose your preferred color */
  box-shadow: 0 0 5px #C60C30; /* Add a subtle glow */
}

.App-header {
  background-color: #C60C30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #C60C30;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
