.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

textarea {
  /* Take up the full width of its container */
  width: 100%;
  /* Set a minimum height so it's always reasonably tall */
  min-height: 50px;
  /* Provide some internal spacing for comfort */
  padding: 30px;
  /* Allow users to resize the textarea vertically if they wish */
  resize: vertical;
  /* Ensures padding and borders don't increase its total size */
  box-sizing: border-box;
}

.round-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #C60C30;
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.round-button:hover {
  background-color: #a00a24;
}

/* Mobile devices */
@media (max-width: 768px) {
  textarea {
    font-size: 1.2rem;
  }
}

/* Tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
  textarea {
    font-size: 1.4rem;
  }
}

/* Desktop and larger */
@media (min-width: 1025px) {
  textarea {
    font-size: 1rem;
  }
}

textarea:focus {
  /* Remove the default browser outline */
  outline: none;
  /* Use a distinct border color, you can choose your preferred color */
  border-color: #C60C30;
  /* Add a subtle glow */
  box-shadow: 0 0 5px #C60C30;
}

.App-header {
  background-color: #C60C30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #C60C30;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}